body{
  background-color: #94618E;
}

#container{
  text-align: center;
  background-color: white;
  border: 5px solid black;
  width: 70%;
  min-width: 600px;
  height: 70%;
  max-height: 300px;
  margin: 5% auto 5% auto;
  background-color: #F4DECB;
}
#titleContainer{
  width: 50%;
  margin: 20px auto; 
}
input{
  text-align: right;
}
.valueContainer{
  display: inline-box;
  width: 30%;
  float: left;
}
#equalSign{
  width: 10%;
  margin: 3px 7px 3px 7px;
  
}
#container2{
  width: 70%;
  height: 100px;
  margin: 0px auto;
  text-align: center;
}
#container3{
  width: 70%;
  height: 100px;
  margin: 0px auto;
  text-align: center;
}
#container4{
  width: 50%;
  height: 100px;
  margin: 0px auto;
  text-align: center;
  padding-left: 16%;
}
#convertBtn{
  display: block;
}
input{
  border: 2px solid;
  margin: 3px;
  width: 90%;
}

